<% include ./partial/header %>
<div class="container" style="border: 2px solid red">
  <table style="width: 100%">
    <tr>
      <th>
        Student Name
      </th>
      <th>
        From
      </th>
      <th>To</th>
      <th>Days</th>
      <th>Status</th>
    </tr>
    <%students.forEach(function(student){%> <% if(student.leaves.length>0){%>
    <tr>
      <th><%=student.name%></th>

      <th><%=moment(leave.from).format('DD/MM/YYYY')%></th>
      <th><%=moment(leave.to).format('DD/MM/YYYY')%></th>
      <th><%=leave.days%></th>
      <th><%=leave.status%></th>
      <%if(leave.status==="pending"){%>
      <th class="btn btn-primary">more</th>
    </tr>
    <%}}%> <%})%>
  </table>
</div>

<% include ./partial/footer %>
