<% include ./partial/header %> <%=student%>
<form action="/hod/<%=hod.id%>/leave/<%=student.id%>/info" method="POST">
  <div class="container-fluid bg-3 text-center" style="border: 1px solid blue">
    <h1><%=student.name %></h1>
    <br />
    <div class="row">
      <div class="col-sm-4">
        <img style="border-radius: 100%" src="<%=student.image%>" alt="image" />
      </div>
      <%student.leaves.forEach(function(leave){%>
      <div class="col-sm-4">
        <h3><strong> Subject:</strong><%=leave.subject %></h3>
        <h3>Status:<%=leave.status %></h3>
        <h3>From:<%=moment(leave.to).format('DD/MM/YYYY') %></h3>
        <h3>To:<%=moment(leave.from).format('DD/MM/YYYY') %></h3>
        <h3><%=leave.days%></h3>
        <h3>Department:<%=student.department %></h3>
        <div class="col-sm-6">
          <input
            type="submit"
            class="btn btn-block btn-success"
            name="action"
            value="Approve"
          />
          <input
            type="submit"
            class="btn btn-block btn-danger"
            name="action"
            value="Deny"
          />
        </div>
      </div>

      <%})%>
    </div>
  </div>
</form>
<% include ./partial/footer %>
