<% include ./partial/header %> <% include ./partial/wardenfunction%>


<div class="col-sm-6" style="    flex: 0 0 50%;
max-width: 50%;
margin-left: 431px;
margin-top: -251px;border: 1px solid pink ;  text-align: -webkit-center;">
      <div class="thumbnail">
        <img style="height:150px;width:150px;border-radius: 100%" src="<%=warden.image%>" />
        <h1><strong>Name:</strong> <%=warden.name%></h1>
        <h4><strong>Type:</strong><%=warden.type%></h4>

        <h4>Username: <%=warden.username%></h4>
        <h4>Hostel:<%=warden.hostel%></h4>
      </div>
      <a class="btn btn-warning" href="/warden/<%=warden._id%>/edit">Edit</a>
    </div>
  </div>
</div>

<% include ./partial/footer %>
